.a-item-1826,
.bl-item-1826 {
	fill: none;
}
.b-item-1826,
.bs-item-1826,
.bt-item-1826,
.c-item-1826,
.d-item-1826 {
	fill: #001f5f;
}
.c-item-1826 {
	filter: url(#c-item-1826);
}
.d-item-1826 {
	filter: url(#e-item-1826);
}
.bv-item-1826,
.by-item-1826,
.bz-item-1826,
.e-item-1826 {
	fill: #fff;
}
.f-item-1826 {
	clip-path: url(#g-item-1826);
}
.g-item-1826 {
	fill: #f2f2f2;
}
.h-item-1826 {
	fill: #f1f1f1;
}
.i-item-1826 {
	fill: #f0f0f0;
}
.j-item-1826 {
	fill: #eee;
}
.k-item-1826 {
	fill: #ededed;
}
.l-item-1826 {
	fill: #ececec;
}
.m-item-1826 {
	fill: #ebebeb;
}
.n-item-1826 {
	fill: #e9e9e9;
}
.o-item-1826 {
	fill: #e8e8e8;
}
.p-item-1826 {
	fill: #e7e7e7;
}
.q-item-1826 {
	fill: #e6e6e6;
}
.r-item-1826 {
	fill: #e4e4e4;
}
.s-item-1826 {
	fill: #e3e3e3;
}
.t-item-1826 {
	fill: #e2e2e2;
}
.u-item-1826 {
	fill: #e1e1e1;
}
.v-item-1826 {
	fill: #dfdfdf;
}
.w-item-1826 {
	fill: #dedede;
}
.x-item-1826 {
	fill: #ddd;
}
.y-item-1826 {
	fill: #dcdcdc;
}
.z-item-1826 {
	fill: #dbdbdb;
}
.aa-item-1826 {
	fill: #d9d9d9;
}
.ab-item-1826 {
	fill: #d8d8d8;
}
.ac-item-1826 {
	fill: #d7d7d7;
}
.ad-item-1826 {
	fill: #d6d6d6;
}
.ae-item-1826 {
	fill: #d4d4d4;
}
.af-item-1826 {
	fill: #d3d3d3;
}
.ag-item-1826 {
	fill: #d2d2d2;
}
.ah-item-1826 {
	fill: #d1d1d1;
}
.ai-item-1826 {
	fill: #cfcfcf;
}
.aj-item-1826 {
	fill: #cecece;
}
.ak-item-1826 {
	fill: #cdcdcd;
}
.al-item-1826 {
	fill: #ccc;
}
.am-item-1826 {
	fill: #cacaca;
}
.an-item-1826 {
	fill: #c9c9c9;
}
.ao-item-1826 {
	fill: #c8c8c8;
}
.ap-item-1826 {
	fill: #c7c7c7;
}
.aq-item-1826 {
	fill: #c6c6c6;
}
.ar-item-1826 {
	fill: #c4c4c4;
}
.as-item-1826 {
	fill: #c3c3c3;
}
.at-item-1826 {
	fill: #c2c2c2;
}
.au-item-1826 {
	fill: #c1c1c1;
}
.av-item-1826 {
	fill: #bfbfbf;
}
.aw-item-1826 {
	fill: #bebebe;
}
.ax-item-1826 {
	fill: #bdbdbd;
}
.ay-item-1826 {
	fill: #bcbcbc;
}
.az-item-1826 {
	fill: #bababa;
}
.ba-item-1826 {
	fill: #b9b9b9;
}
.bb-item-1826 {
	fill: #b8b8b8;
}
.bc-item-1826 {
	fill: #b7b7b7;
}
.bd-item-1826 {
	fill: #b5b5b5;
}
.be-item-1826 {
	fill: #b4b4b4;
}
.bf-item-1826 {
	fill: #b3b3b3;
}
.bg-item-1826 {
	clip-path: url(#i-item-1826);
}
.bh-item-1826,
.bq-item-1826 {
	fill: #e7002a;
}
.bi-item-1826 {
	fill: #8bbff3;
}
.bj-item-1826 {
	fill: #d9dae4;
}
.bk-item-1826 {
	clip-path: url(#l-item-1826);
}
.bl-item-1826,
.bq-item-1826 {
	stroke: #e40032;
}
.bl-item-1826 {
	stroke-miterlimit: 10;
	stroke-width: 0.979px;
}
.bm-item-1826 {
	fill: url(#m-item-1826);
}
.bn-item-1826 {
	fill: #182856;
	font-size: 11px;
}
.bn-item-1826,
.bs-item-1826 {
	font-family: Silka-Bold, Silka;
}
.bn-item-1826,
.bs-item-1826,
.bz-item-1826 {
	font-weight: 700;
}
.bo-item-1826 {
	fill: #4899d5;
}
.bp-item-1826 {
	fill: url(#q-item-1826);
}
.br-item-1826 {
	fill: url(#u-item-1826);
}
.bs-item-1826 {
	font-size: 32px;
}
.bt-item-1826,
.bv-item-1826,
.by-item-1826 {
	font-size: 12px;
	font-family: Silka-Regular, Silka;
}
.bu-item-1826 {
	fill: #e40032;
}
.bw-item-1826 {
	clip-path: url(#x-item-1826);
}
.bx-item-1826,
.by-item-1826 {
	text-decoration: underline;
}
.bz-item-1826 {
	font-size: 18px;
	font-family: Kiona-Bold, Kiona;
}
.ca-item-1826 {
	filter: url(#y-item-1826);
}
.cb-item-1826 {
	filter: url(#v-item-1826);
}
.cc-item-1826 {
	filter: url(#r-item-1826);
}
.cd-item-1826 {
	filter: url(#n-item-1826);
}
.ce-item-1826 {
	filter: url(#j-item-1826);
}
.cf-item-1826 {
	filter: url(#a-item-1826);
}
